/*客户*/
.table-wrap {
  border-top: 4px solid #50d2c2;
}

.jqxtable {
  height: 100%;
}

.v-icon.icon {
  margin-top: 10px;
}

.table-setting {
  position: absolute;
  display: none;
  z-index: 8;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.table-nav-list {
  padding: 15px 0;
  ul {
    @include clearfix;
  }
}

.table-nav {
  float: left;
  position: relative;
  padding: 0 15px;
  border-left: 1px solid $borderC;
  line-height: 30px;
  cursor: pointer;
  &:first-child {
    border-left: none;
  }
}

.count-select {
  margin: 0 5px;
  color: $color;
}

.table-icon {
  position: absolute;
  top: 3px;
  left: 11px;
}

.icon-change {
  &:after {
    content: "\e619";
    font-size: 25px;
    color: #999;
  }
}

.icon-delete:after {
  content: "\e60e";
  font-size: 20px;
  color: #999;
}

.table-nav-main {
  margin-left: 25px;
}

.table-nav-right {
  float: right;
  position: relative;
  height: 100%;
}

.table-nav-close {
  font-size: 24px;
  line-height: 2.5;
  margin-right: 20px;
}

//自定义表头
.list-wrap {
  padding: 20px 20px;
  .select {
    display: none;
  }
}

.list-left,
.list-right {
  display: inline-block;
  width: 200px;
}

.list-t {
  margin-bottom: 10px;
  color: #999;
}

.move-list {
  display: inline-block;
  position: relative;
  height: 335px;
  margin: 0 15px;
  vertical-align: bottom;
}

.icon-list {
  display: block;
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
  &:after {
    color: #50d2c2;
    font-size: 30px;
    font-weight: bold;
  }
}

$listicon: list-left list-right list-up list-down;
@for $i from 1 through 4 {
  .icon-#{nth($listicon, $i)} {
  }
}

.icon-list-left {
  &:after {
    content: "\e62e";
  }
}

.icon-list-right {
  &:after {
    content: "\e62f";
  }
}

.icon-list-up {
  &:after {
    content: "\e630";
  }
}

.icon-list-down {
  &:after {
    content: "\e631";
  }
}

.icon-list-left {
  margin: 130px 0 20px;
}

//
//.icon-video {
//  display: inline-block;
//  width: 17px;
//  height: 17px;
//  margin: 13px 5px;
//  background: url("../img/video.png");
//}
//
//.icon-download {
//  display: inline-block;
//  width: 22px;
//  height: 17px;
//  margin: 13px 5px;
//  background: url("../img/download.png");
//}

//新建客户，企业信息，编辑信息
.message {
  padding-top: 20px;
}

.m-row {
  @include clearfix;
  width: 460px;
  margin: 0 auto 20px;
  font-size: 12px;
  //.add-message &{
  //  width: 445px;
  //  margin: 0 117px 20px 20px;
  //
  //}
}

.m-name {
  position: relative;
  float: left;
  width: 90px;
  line-height: 40px;
  &.required:before{
    content: "*";
    position: absolute;
    top: 14px;
    left: -20px;
    color: #d43131;
    line-height: 1;
    font-size: 200%;
  }
}

.m-info {
  position:relative;
  margin-left: 92px;
  padding: 10px 15px;
  line-height: 20px;
  min-height: 40px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  color: #999;
  background: #fff;
  &.m-input {
    padding: 0;
    border: none;
    background: none;
    select{
      width: 100%;
    }
  }
}

$enterBtn:(qixinbao:649,EnterSearch:616);

.enter-btn{
  position: absolute;
  top: 7px;
  right: 15px;
  min-width: 80px;
  padding-left: 30px;
  line-height: 26px;
  color: #252834;
  i{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 26px;
    &:after{
      font-family: iconfont;
      font-style: normal;
      font-size: 30px;
      //color: #d4d4d4;
      //content: "\e649";
    }
  }
  @each $icon,$content in $enterBtn{
    &.#{$icon} i:after{
      content: "\e#{$content}";
    }
  }
}

.panels{
  position: absolute;
  padding: 10px;
  display: none;
  z-index: 9999;
  width: 350px;
  min-height: 50px;
  border-radius: 5px;
  font-size: 14px;
  word-wrap: break-word;
  line-height: 2;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
}
.audio-box{
  width:460px;
  margin:0 auto;
}
